{% autoescape true %}

{% include '_header.html' %}
<link rel="canonical" href="https://temp.saddlebagexchange.com/history">

<body>
  {% include '_navbar.html' %}
  <div class="container-fluid">
        <!-- results -->
        <h1>FFXIV whats the bestt server to sell on.</h1>
        <div class="alert alert-warning" role="alert">
          Sort by Highest Sale Count
        </div>
        <div class="mt-4">
          {% if request.method == 'POST'%}
            <table id="proxies" class="display table table-striped table-hover nowrap responsive" style="width: 100%">
              <thead>
                <tr>
                  {% for header in results[0].keys() %}
                    <th>{{header}}</th>
                  {% endfor %}
                </tr>
              </thead>
              <tbody>
                {% for row in results %}
                  <tr>
                    {% for index in range(0, len(fieldnames)) %}
                      <td>{{row[fieldnames[index]]}}</td>
                    {% endfor %}
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          {% endif %}
        </div>
        <!-- input commands -->
        <form method="POST" action="/ffxivsalehistory" target="_blank" class="scanform">
          <hr>

          <div class="mb-3">
            <label class="form-label">Region</label>
            <select class="form-select" id="region" name="region">
              <option value="North-America">North-America</option>
              <option value="Europe">Europe</option>
              <option value="Japan">Europe</option>
              <option value="Oceania">Oceania</option>
            </select>
            <div class="form-text">Pick your home region. ex: <span style="color: #d97e84;">Europe</span></div>
          </div>

          <div class="mb-3">
            <label class="form-label">Item ID</label>
            <input class="form-control" name="item_id" type="number" value="39872">
            <div class="form-text">The number related to an item ex: <span style="color: #d97e84;">39872</span> is Baked Eggplant</div>
          </div>

          <button type="submit" value="submit" class="btn btn-primary btn-lg">Submit</button>
        </form>

      </div>
    </div>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7398832994051812"
     crossorigin="anonymous"></script>
    <script type="text/javascript">
      $('#proxies').DataTable();
    </script>
  </body>
  
</html>

{% endautoescape %}
